pyuseragents~=1.0.5
retrying~=1.3.4
loguru~=0.7.2
web3~=6.15.1
PyYAML~=6.0.1
pydantic~=2.6.4
art~=6.1
orjson~=3.9.15
httpx~=0.27.0
tqdm~=4.66.2
noble_tls~=0.0.102
eth_account
curl_cffi~=0.6.2
urllib3~=2.2.1
inquirer~=3.2.4
colorama~=0.4.6