httpx~=0.27.0
pyuseragents~=1.0.5
names~=0.3.0
noble_tls~=0.0.102
Jam_Twitter_API~=0.6
loguru~=0.7.2
pydantic~=2.6.4
web3~=6.15.1
art~=6.1
PyYAML~=6.0.1
urllib3~=2.2.1
inquirer~=3.2.4
colorama~=0.4.6
better_proxy
